.btn {
  &__black {
    background-color: $clr--secondary-x-dark;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  &__default {
    background-color: $clr--primary;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
      background-color: $clr--primary-dark;
    }
  }
} 