.btn {
  &__black {
    background-color: $clr--secondary-x-dark;
    transition: 0.2s;

    &:hover {
      transform: scale(1.015);;
      cursor: pointer;
    }
  }

  &__default {
    background-color: $clr--primary;
    transition: 0.2s;

    &:hover {
      transform: scale(1.015);;
      cursor: pointer;
      background-color: $clr--primary-dark;
    }
  }
  &--disabled {
    opacity: 0.5;
    &:hover {
      cursor: default;
    }
  }
}
