.card {
  transition: 0.2s;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 25px 50px -12px rgba(255, 149, 73, 1);
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0rem;
  background-color: $clr--secondary-dark;
  max-width: 21.5rem;

  &__textcontent {
    color: $clr--secondary;
    text-align: center;
    padding: 1rem;

    p {
      padding: 0.5rem 0rem;
      font-size: $font-size-3;
    }
  }
}
