.aboutus {
  padding: 4rem 0rem;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  &__img {
    display: flex;
    justify-content: center;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &__h3 {
    display: flex;
    align-items: center;
    word-wrap: break-word;
    gap: 1rem;
  }

  &__minilogo {
    width: 10%;
  }

  &__textcontent {
    h3 {
      word-wrap: break-word;
    }
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    ul {
      line-height: 2.5rem;

      li::marker {
        color: $clr--primary;
      }

      li {
        font-weight: $font--weight-medium;
      }
    }
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  @media only screen and (max-width: 1200px) {
    &__textcontent {
      width: 100%;
    }
    &__img {
      width: 100%;
    }
    &__btn {
      button {
        width: 100%;
      }
    }
  }
  @media only screen and (max-width: 992px) {
    &__minilogo {
      width: 10%;
    }
    flex-direction: column-reverse;

    &__img {
      img {
        max-width: 100%;
      }
    }
  }
  @media only screen and (max-width: 576px) {
    &__minilogo {
      width: 25%;
    }
    &__textcontent {
      p {
        padding-right: 0rem;
      }
    }
    &__btn {
      button {
        width: 100%;
      }
    }
  }
}
