.services {
  padding: 4rem 0rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 6rem;
  &__wrapper {
    display: inherit;
    gap: 1rem;
    flex-direction: column;
    text-align: center;
    max-width: 55%;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}
@media only screen and (max-width: 992px) {
  .services {
    &__wrapper {
      max-width: max-content;
    }
  }
}
