.testimonial {
  flex-basis: 28.282828%;

  &__card {
    border-radius: 1rem;
    background-color: $clr--slate;
    transition: 0.2s;
    &:hover {
      transform: scale(1.015);
      box-shadow: 0 25px 50px -12px rgba(255, 149, 73, 1);
    }

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.5rem;
  }

  &__icon {
    width: 12%;
    img {
      object-fit: contain;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__userimg {
    img {
      object-fit: contain;
    }
  }
  &__text {
    p {
      line-height: 28px;
      font-size: $font-size-3;
    }
  }
  @media only screen and (max-width: 992px) {
    flex-basis: 45.454545%;
  }
  @media only screen and (max-width: 576px) {
    flex-basis: 100%;
  }
}
