.testimonial {
  img {
    max-width: 3rem;
  }

  &__card {
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 25px 50px -12px rgba(255, 149, 73, 1);
    }

    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.5rem;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__wrapper {
    max-width: 20.9rem;
  }
}
