// Font Colors:

$clr--primary: #ff9549;
$clr--primary-dark: #EF9151;
$clr--secondary: #ffffff;
$clr--secondary-dark: #1c1c1c;
$clr--secondary-x-dark: #000000;
// Font Families

$font--primary: "Inter";
$font--secondary: "DM Sans";
$font--tertiary: "Poppins";
$font--fourth: "Roboto";

// Font Weights

$font--weight-light: 300;
$font--weight-normal: 400;
$font--weight-medium: 500;
$font--weight-bold: 600;
$font--weight-x-bold: 700;

// Font sizes

$font-size-1: 8px;
$font-size-2: 12px;
$font-size-3: 14px;
$font-size-4: 16px;
$font-size-5: 18px;
$font-size-6: 20px;
$font-size-7: 28px;
$font-size-8: 42px;
$font-size-9: 48px;
$font-size-10: 60px;
$font-size-11: 209.68px;